<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<!-- 해당 파일에 모든 쿼리문을 작성 -->
<mapper namespace="studentMapper">
<!--  피케이? 컬럼은 id 값으로 지정  -->
    <resultMap id="student" type="com.green.ReactStudent.vo.StudentVO">
        <id column="STU_NUM" property="stuNum" />
        <result column="STU_NAME" property="stuName" />
        <result column="KOR_SCORE" property="korScore" />
        <result column="ENG_SCORE" property="engScore" />
        <result column="MATH_SCORE" property="mathScore" />
        <result column="STU_AGE" property="stuAge" />
        <result column="STU_TEL" property="tel" />
        <result column="STU_ADDR" property="address" />
    </resultMap>

<!--  학생 정보 조회  -->
    <select id="stuInfo" resultMap="student">
        SELECT STU_NUM
            , STU_NAME
            , KOR_SCORE
            , ENG_SCORE
            , MATH_SCORE
        FROM REACT_STUDENT;
    </select>

<!--  학생 상세 정보 조회   -->
    <select id="detail" resultMap="student">
        SELECT STU_NUM
            , STU_NAME
            , STU_AGE
            , STU_TEL
            , STU_ADDR
            , KOR_SCORE
            , ENG_SCORE
            , MATH_SCORE
        FROM REACT_STUDENT
        WHERE STU_NUM = #{stuNum};
    </select>

<!--  학생 정보 등록  -->
    <insert id="regStu">
        INSERT INTO REACT_STUDENT (
            STU_NAME
            , STU_AGE
            , STU_TEL
            , STU_ADDR
            , KOR_SCORE
            , ENG_SCORE
            , MATH_SCORE
        ) VALUES (
            #{stuName}
            ,#{stuAge}
            ,#{tel}
            ,#{address}
            , 0
            , 0
            , 0
        );
    </insert>

    <delete id="delete">
      DELETE FROM REACT_STUDENT
        WHERE STU_NUM = #{stuNum};
    </delete>



	
</mapper>































