.header{
  width: 100vw;
  height: 80px;
  background-color: black;
  display: flex;
  color: white;
  justify-content: space-around;
  align-items: center;
}

.header > div{
  border: 1px solid yellow;
}

ul{
  display: flex;
  width: 300px;
  justify-content: space-between;
}