.container1{
  display: flex;
  width: 300px;
  justify-content: space-between;
  margin: 30px;
}

.container1 > div{
  width: 80px;
  height: 80px;
  background-color: crimson;
  border: 1px solid black;
  color: white;
  font-size: 2rem;
  display: flex;
  justify-content: center;
  align-items: center;

  /* transition : all(전체)를 n s(변화를 n초 동안 재생) */
  transition: all 0.5s;
}

/* hover : 선택자에 마우스를 올리면 발생 */
.d1:hover{
  width: 120px;
  height: 120px;
}

.d2:hover{
  background-color: black;
  color: yellow;
}

.d3:hover{
  position: relative;
  top: 10px;
  left: 10px;
}

/* ----------------------- */

input{
  margin-left: 30px;
  width: 200px;
  padding: 10px 4px;
  border-radius: 8px;
  border: 1px solid lightblue;
  outline: none;
  transition: all 1s;
}

/* input, button을 클릭하면 발생 */
input:focus{
  width: 300px;
  border: 1.5px solid green;
}

/* ----------------------- */

ul{
  margin: 30px;
}

/* before : 선택자 앞에 인라인 요소 추가 */
.li_1::before{
  content: "new";
  color: white;
  background-color: blue;
  border-radius: 6px;
  padding: 2px 6px;
  margin-right: 6px;
}

/* after : 선택자 뒤에 인라인 요소 추가 */
.li_1::after{
  content: "css";
}