.d1{
  margin: 0px auto;
  width: 300px;
}

table, tr, td{
  border: 1px solid black;
}

table{
  border-collapse: collapse;
  margin: auto;
  margin-top: 16px;
  width: 300px;
  text-align: center;
}

button{
  width: 100px;
  margin-top: 10px;
}

.d2{
  text-align: center;
}