<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>
<body>

  <div>
    <div>
      <table>
        <tr>
          <td>글번호</td>
          <td>[[${board.boardNum}]]</td>
          <td>조회수</td>
          <td>[[${board.readCnt}]]</td>
        </tr>
        <tr>
          <td>작성일</td>
          <td>[[${board.createDate}]]</td>
          <td>작성자</td>
          <td>[[${board.writer}]]</td>
        </tr>
        <tr>
          <td>제목</td>
          <td>[[${board.title}]]</td>
        </tr>
        <tr>
          <td>내용</td>
          <td>[[${board.content}]]</td>
        </tr>
      </table>
    </div>
    <div>
      <input type="button" value="목록가기" onclick="goList()">
      <input type="button" value="수정">
      <input type="button" value="삭제">
    </div>
  </div>
  
  <script>
    function goList(){
      location.href = '/list'
    }

    function deleteBoard(){
      location.href = '/deleteBoard'
    }
  </script>
</body>
</html>