<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>
<body>
  <table border="1">
    <tr>
      <td>이름</td>
      <td>나이</td>
      <td>점수</td>
    </tr>
    <tr th:each="member : ${memberList}">
      <td>[[${member.name}]]</td>
      <td>[[${member.age}]]</td>
      <td>[[${member.score}]]</td>
    </tr>
  </table>




<div>
  이름 <input type="text"><br>
  연락처 <input type="text"><br>
  성별 <input type="radio"><br>
  취미 <input type="checkbox"><br>
  가입경로 <select name="" id=""><br>
  </select>
<input type="button" value="회원가입">
<a href="/main"><input type="button" value="뒤로가기"></a>

  
</body>
</html>