.App {
  width: 400px;
  margin: 0px auto;
  margin-top: 30px;
}

.box{
  background-color: rgba(128, 128, 128, 0.200);
  border-radius: 10px;
  padding: 10px;
  margin-bottom: 20px;
}

span.item{
  width: 200px;
  display: inline-block;
}

.item-div{
  margin-bottom: 6px;
}
