<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>
<body>

  <div>
    <div>
      <table>
        <thead>
          <tr>
            <td>학번</td>
            <td>학생명</td>
            <td>국어점수</td>
            <td>영어점수</td>
            <td>총점</td>
          </tr>
        </thead>
        <tbody>
          <!-- 게시글이 없으면 -->
          <th:block th:if="${#lists.isEmpty(stuList)}">
            <tr>
              <td colspan="5">등록된 학생 정보가 없습니다.</td>
            </tr>
          </th:block>

          <!-- 게시글이 있으면 -->
         <th:block th:unless="${#lists.isEmpty(stuList)}">
          <!-- /* 등록된 학생수만큼 반복해서 행을 생성 */ -->
            <th:block th:each="student : ${stuList}">
              <tr>
                <td>[[${student.num}]]</td>
                <td><a th:href="@{/stuDetail(num=${student.num})}">[[${student.name}]]</a></td>
                <td>[[${student.korScore}]]</td>
                <td>[[${student.engScore}]]</td>
                <td>[[${student.korScore + student.engScore}]]</td>
              </tr>
            </th:block>
         </th:block>
        </table>
    </div>

    <div>
      <input type="button" value="학생등록" onclick="goReg()">
    </div>
  </div>
  
  <script src="/stu_list.js"></script>
</body>
</html>