<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>
<body>

  <div>
    <div>
      <table>
        <tr>
          <td>학번</td>
          <td>[[${student.num}]]</td>
          <td>이름</td>
          <td>[[${student.name}]]</td>
        </tr>
        <tr>
          <td>국어점수</td>
          <td>[[${student.korScore}]]</td>
          <td>영어점수</td>
          <td>[[${student.engScore}]]</td>
        </tr>
        <tr>
          <td>자기소개</td>
          <td>[[${student.info}]]</td>
        </tr>
      </table>
    </div>
    <div>
      <input type="button" value="뒤로가기" onclick="goBack()">
      <input type="button" value="학생수정" th:onclick="goUpdateForm([[${student.num}]])">
      <button type="button" th:onclick="goDelete([[${student.num}]])">학생삭제</button>
    </div>
  </div>
  
  <script>
    //뒤로가기 버튼 클릭 시 실행 함수
    function goBack(){
      //뒤로 가기
      //history.back(-1);

      location.href = 'stu_list';
    }

    //학생 삭제 클릭 시 실행
    function goDelete(num){
      const result = confirm('삭제할까요?');
      if (result){
        location.href = `/stuDelete?num=${num}`;
      }
    }

    //학생 수정 버튼 클릭 -> 학생정보를 수정할 수 있는 페이지로 이동
    function goUpdateForm(num){
      location.href = `/updateForm?num=${num}`;
    }


  </script>
</body>
</html>