<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>
<body>

  <form action="/updateStu" method="post">
    <input type="hidden" name="num" th:value="${student.num}">
    <div>
      <div>
        <table>
          <tr>
            <td>학번</td>
            <td>[[${student.num}]]</td>
            <td>이름</td>
            <td><input type="text" name="name" th:value="${student.name}"></td>
          </tr>
          <tr>
            <td>국어점수</td>
            <td><input type="text" name="korScore" th:value="${student.korScore}"></td>
            <td>영어점수</td>
            <td><input type="text" name="engScore" th:value="${student.engScore}"></td>
          </tr>
          <tr>
            <td>자기소개</td>
            <td><textarea>[[${student.info}]]</textarea></td>
          </tr>
        </table>
      </div>
      <div>
        <input type="button" value="뒤로가기" onclick="goList()">
        <button type="submit">정보수정</button>
      </div>
    </div>
  </form>
  
  <script src="/stu_list.js"></script>
</body>
</html>