<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>
<body>
  <h1>배달 정보</h1>
  <form action="/info" method="post">
    <input type="hidden" name="menu" th:value="${orderVO.menu}">
    <input type="hidden" name="count" th:value="${orderVO.count}">
    <input type="hidden" name="text" th:value="${orderVO.text}">
    <th:block th:each="sauce : ${orderVO.sauce}">
      <input type="hidden" name="sauce" th:value="${sauce}">
    </th:block>
    <!-- <input type="hidden" name="sauce" th:value="${orderVO.sauce}"> -->
    <h4>주문자</h4>
    <input type="text" name="customer">
    <h4>연락처</h4>
    <input type="text" name="tel">
    <h4>배달 주소</h4>
    <input type="text" name="address"> <br>
    <input type="submit" value="주문">
  </form>
</body>
</html>