<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>
<body>

  <h1>학생 성적 입력 프로그램</h1>
  [[${name}]] 학생의 기본정보를 입력합니다 <br>
 <form action="/score" method="post">
  <input type="hidden" name="name" th:value="${name}">
    학년 <input type="text"> <br>
    연락처
    <select>
      <option>010</option>
      <option>011</option>
      <option>017</option>
    </select>
    <input type="text"> <br>
    성별 
    <input type="radio" name="gender" value="male">남
    <input type="radio" name="gender" value="female">여
    <br>
    <input type="submit" value="확인">
  </form>
  <form action="/stu" method="get">
    <input type="submit" value="뒤로가기">
  </form>
  
</body>
</html>