<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>
<body>
  <table>
    <tr>
      <td>아이디</td>
      <td>[[${memberVO.id}]]</td>
      <td>이름</td>
      <td>[[${memberVO.name}]]</td>
    </tr>

    <tr>
      <td>연락처</td>
      <td>[[${memberVO.phone}]]</td>
      <td>이메일</td>
      <td>[[${memberVO.email}]]</td>
    </tr>

    <tr>
      <td>생일</td>
      <td>[[${memberVO.birthday}]]</td>
    </tr>
  </table>
</body>
</html>