<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>
<body>

  <h1>치킨</h1>
  <h4>치킨 종류와 상관 없이 무조건 만원</h4>
  <form action="/delivery" method="post">
    <input type="radio" name="menu" value="후라이드 치킨"> 후라이드 치킨
    <input type="radio" name="menu" value="양념치킨"> 양념치킨
    <input type="radio" name="menu" value="간장치킨"> 간장치킨 <br>
    <input type="radio" name="menu" value="고추바사삭"> 고추바사삭
    <input type="radio" name="menu" value="뿌링클"> 뿌링클
    <input type="radio" name="menu" value="매운핫치킨"> 매운핫치킨 <br>
    몇마리 <input type="number" name="count"> <br>
    <h4>추가할게요 (추가 시 1000원)</h4>
    <input type="checkbox" name="sauce" value="양념 추가"> 양념 추가
    <input type="checkbox" name="sauce" value="머스타드 추가"> 머스타드 추가
    <input type="checkbox" name="sauce" value="콜라 추가"> 콜라 추가 <br>
    <h4>요청사항</h4>
    <input type="text" name="text"> <br>
    <input type="submit" value="주문하러 가기">
  </form>
  
</body>
</html>