<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>
<body>
  <h1>학생 성적 입력 프로그램</h1>
  <p>[[${scoreVO.name}]]학생의 기본 정보를 입력합니다</p>
  <form action="/third" method="post">
    <input type="hidden" name="name" th:value="${scoreVO.name}">
    학년 <input type="text" name="year"> <br>
    연락처
    <select name="tel">
      <option value="010">010</option>
      <option value="011">011</option>
    </select>
    <input type="text" name="tel"> <br>
    성별
    <input type="radio" name="gender" value="남성">남
    <input type="radio" name="gender" value="려성">려 <br>
    <input type="submit" value="확인">
    <input type="button" value="뒤로가기">
  </form>
</body>
</html>