<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>
<body>

<form action="/insert" method="post">
  <div>
      <div>
        <table>
          <tr>
            <td>학번</td>
            <td><input type="text" name="stuNum"></td>
          </tr>
      
          <tr>
            <td>이름</td>
            <td><input type="text" name="stuName"></td>
          </tr>
      
          <tr>
            <td>국어점수</td>
            <td><input type="text" name="KorScore"></td>
          </tr>
      
          <tr>
            <td>영어점수</td>
            <td><input type="text" name="EngScore"></td>
          </tr>
      
          <tr>
            <td>학생소개</td>
            <td><textarea name="Intro"></textarea></td>
          </tr>
        </table>
      </div>
      <div>
        <input type="submit" value="등록 완료" >
      </div>
  </div>
</form>


  
</body>
</html>